.treeview {
    padding: 0em;
}

.treeview li, .treeview li ul li {
    position:relative;
    top:0;
    bottom:0;
    padding-bottom: 7px;

}

.treeview li ul {
    margin-left: 4em;
}

.treeview li {
    list-style-type: none;
}

.treeview li a {
    padding:0 0 0 10px;
    position: relative;
    top:1em;
}

.treeview li a:hover {
    text-decoration: none;
}

.treeview a.addBorderBefore:before {
content: "";
    display: inline-block;
    width: 2px;
    height: 34px;
    position: absolute;
    left: -57px;
    top: -21px;
    border-left: 1px solid gray;


}

.treeview li:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 0;
    position: relative;
    left: 0em;
    top:1em;
    border-top: 1px solid gray;
}

.treeview li ul li:last-child:after, .treeview li:last-child:after {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    position: relative;
    background: #fff;
    top: 9px;
    left: -1px;
}